@model IEnumerable<DiScarpe.Models.Produto>
@{
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}
<p class="paginaTitulo">Painel Administrativo</p>
<br />
<div class="row" id="painelAdmin">
    <div class="col-md-6">
        <h5>Produtos cadastrados</h5>
    </div>
    <div class="col-md-6" id="novoProduto">
        <a class="btn btn-success" href="~/Produto/Adicionar">Adicionar novo produto</a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            <p class="texto">IdUsuario</p>
        </th>
        <th>
            <p class="texto">Nome</p>
        </th>
        <th>
            <p class="texto">Descrição</p>
        </th>
        <th>
            <p class="texto">Preço</p>
        </th>
        <th>
            <p class="texto">Categoria</p>
        </th>
        <th>
            <p class="texto">Cor</p>
        </th>
        <th>
            <p class="texto">Estilo</p>
        </th>
        <th>
            <p class="texto">Marca</p>
        </th>
        <th>
            <p class="texto">Tamanho</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estilo.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tamanho.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProduto })
            @Html.ActionLink("Excluir", "Delete", new { id=item.IdProduto })
        </td>
    </tr>
}

</table>
