@model DiScarpe.Models.Usuario


@using (Html.BeginForm("Acesso", "Home", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Senha)
        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Senha)
    </div>
    @Html.DisplayFor(model => model.LoginErrorMessage)

    <input type="submit" name="name" value="Login" class="btn btn-primary" />

}