@model DiScarpe.Models.Produto
<hr />
<div class="row">
    <div class="col-md-6">
        <img id="imagem" src="@String.Format("/Imagens/{0}/{1}/{2}/{3}/{4}.jpg", @Model.Categoria.Descricao, @Model.Marca.Descricao, @Model.Estilo.Descricao, @Model.Cor.Descricao, @Model.IdProduto)" alt="Card image cap" />
    </div>
    <div class="col-md-6">
        <h3>@Model.Marca.Descricao</h3>
        <h4>@Model.Nome</h4>
        <p class="detalhes">R$ @Convert.ToDecimal(@Model.Preco)</p>
        <button type="button" class="btn btn-success">Comprar</button>
        <br />
        <button type="button" class="btn btn-light">Adicionar a Lista de Desejos</button>
        <div>
            <br />
            <h6>Detalhes do produto</h6>
            <p>@Model.Descricao</p>
        </div>
        
    </div>
</div>
<div>
    <hr />
    @Html.ActionLink("Retornar", "Index")
</div>

